{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<section class="cart">
    <div class="rootCart">
        <ul class="tablist">
            <li class="first-li">
                <span class="icon_cart">
                    <svg aria-hidden="true" focusable="false" height="1.5em" role="presentation" width="1.5em" viewBox="0 0 24 24" class="svg_9c8206b6"><path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 3c0 .55.45 1 1 1h1l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h11c.55 0 1-.45 1-1s-.45-1-1-1H7l1.1-2h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49A.996.996 0 0020.01 4H5.21l-.67-1.43a.993.993 0 00-.9-.57H2c-.55 0-1 .45-1 1zm16 15c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z" fill="currentColor"></path>
                    </svg>
                </span>
                <span class="tabButton">Panier</span>
        </li>
        <li class="second-li">
                <span class="icon_e79faaed iconLeft_e79faaed">
                    <svg aria-hidden="true" focusable="false" height="1.5em" role="presentation" width="1.5em" viewBox="0 0 24 24" class="svg_9c8206b6"><path d="M15.975 15.265l3.335-3.333a.64.64 0 00-.036-.94 6.03 6.03 0 00-5.587-1.208l-3.486-2.726a3.512 3.512 0 00-1.013-2.87.64.64 0 00-.906 0L4.188 8.28a.64.64 0 000 .907 3.509 3.509 0 002.87 1.013l2.628 3.362a6.063 6.063 0 001.11 5.906.645.645 0 00.463.223h.025c.17 0 .332-.067.452-.187l3.334-3.334 3.64 3.64a.639.639 0 001.094-.452.64.64 0 00-.188-.454l-3.64-3.64z" fill="currentColor" fill-rule="nonzero"></path>
                    </svg>
                </span>
                <span class="tabButtonNoWrap_c5cdd25a">Mis de côté</span>
            </li>
        </ul>
    </div>
    <div class="produit-label-pro">
        <div>
            <svg width="24px" height="24px" fill="none" xmlns="http://www.w3.org/2000/svg" class="ListTitle_icon__2xMfz" data-testid="pro-list-icon"><path d="M12 3.26L3.609 7.701 7.5 9.5l4.5 2 4.5-2 3.89-1.799L12 3.261z" fill="#FFB950"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.858 6.216l-9.39-4.97a1 1 0 00-.936 0l-9.39 4.97a1 1 0 00-.532.883v9.794a1 1 0 00.532.884l9.39 4.97a1 1 0 00.936 0l9.39-4.97a1 1 0 00.532-.884V7.099a1 1 0 00-.532-.883zm-9.859 4.176L4.868 7.035 12 3.26l7.132 3.775-7.133 3.357zm1 1.699l7.391-3.773v7.972L13 20.202v-8.111zM11 12.13L3.61 8.652v7.638L11 20.202v-8.071z" fill="#0C193A"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M6.874 5.168l-.016.034.045.02-.029-.054zm.145.108l8.99 4.203v4.19l1.714-.856V8.411l-8.83-4.127-1.874.992z" fill="#0C193A"></path></svg>
        </div>
        <p>3 produits label</p>
        <div class="logoPro"> 
            <svg class="ListTitle" viewBox="0 0 41 18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40px" height="40px" aria-label="ManomanoPro logo" role="img" focusable="false"><defs><linearGradient id="a" x1="17.337%" x2="72.327%" y1="75.452%" y2="32.565%"><stop stop-color="#E6685A" offset=".00044188"></stop><stop stop-color="#FFB950" offset="1"></stop></linearGradient></defs><g fill="none" fill-rule="evenodd"><g fill-rule="nonzero"><path id="b" d="m18.842 6.7187-5.0063-6.1107c-0.36431-0.4423-0.92839-0.65181-1.4925-0.57033l-7.8502 1.2454c-0.56409 0.093116-1.0342 0.46558-1.2457 1.001l-2.8439 7.3561c-0.19978 0.53542-0.10577 1.129 0.24679 1.5713l5.0063 6.1107c0.36431 0.4423 0.92839 0.65181 1.4925 0.57033l7.8502-1.2454c0.56409-0.093116 1.0342-0.46558 1.2457-1.001l2.8439-7.3561c0.21153-0.53542 0.11752-1.129-0.24679-1.5713z" fill="url(#a)"></path><polygon points="11.885 5.4091 10.125 8.5588 8.3878 4.828 6.2193 5.3975 3.5378 12.371 5.9278 12.371 7.5484 8.2566 9.134 12.173 10.358 12.173 12.713 7.9776 12.713 13.347 14.94 12.592 14.94 5.9554" fill="#fff"></polygon><g transform="translate(21.6 4.8)" fill="#0C193A"><path d="m6.0617 2.7321c0 0.95967-0.27518 1.7009-0.82556 2.2239-0.55038 0.52292-1.3321 0.78438-2.3453 0.78438h-0.63417v2.8496h-2.2567v-8.59h2.8909c1.055 0 1.8473 0.23698 2.3767 0.71093s0.79414 1.1477 0.79414 2.0212zm-3.8803 1.1925h0.4195c0.3457 0 0.6205-0.099862 0.82442-0.29959 0.20392-0.19973 0.30588-0.47535 0.30588-0.82687 0-0.59119-0.3185-0.88679-0.95552-0.88679h-0.59428v2.0132zm10.952-1.0399c0.66939-0.65225 1.4804-0.96533 2.4587-0.96533 0.97834 0 1.8022 0.31308 2.4587 0.96533 0.66939 0.6392 0.99122 1.461 0.99122 2.4655 0 1.0045-0.3347 1.8263-0.99122 2.4525-0.65652 0.62616-1.4675 0.93924-2.4587 0.93924-0.97834 0-1.8022-0.31308-2.4587-0.93924-0.65652-0.6392-0.97834-1.461-0.97834-2.4525 0-1.0045 0.32182-1.8263 0.97834-2.4655zm2.4587 3.9526c0.72089 0 1.313-0.58702 1.313-1.4871 0-0.91315-0.57928-1.5132-1.313-1.5132-0.72089 0-1.313 0.61311-1.313 1.5132 0.012873 0.9001 0.59216 1.4871 1.313 1.4871zm-4.9312-5.0074c0.19293 0 0.37641 0.015562 0.55043 0.046685l0.12484 0.023343-0.19861 2.1534c-0.18159-0.046686-0.43315-0.070028-0.75471-0.070028-0.48423 0-0.83604 0.11379-1.0555 0.34139-0.21942 0.22759-0.32912 0.55536-0.32912 0.98331v3.2505h-2.2187v-6.6118h1.6513l0.34615 1.0563h0.10782c0.18537-0.35014 0.44356-0.63317 0.77457-0.84909s0.66486-0.32388 1.0016-0.32388z"></path></g></g></g></svg>
        </div>
    </div>
</section>
<section class="show-cart">
    <ul>
    {% for cart in carts %}
        <li>
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{{ cart.product.image}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ cart.product.name}}</h5>
                <div class="pricequantity">
                    <p>Quantity : {{ cart.quantity}}</p>
                    <p class="card-text">{{ cart.product.price}} €</p>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock %}