{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
	<div class="login-body">
		<h1 class="connect-you">Se connecter</h1>
		<div class="login-register">
			<form action="{{ path('login') }}" method="post">
				<label for="username">Email</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}"/>

				<label for="password">Mot de passe</label>
				<input
				type="password" id="password" name="_password"/>

				{# If you want to control the URL the user is redirected to on success
								        <input type="hidden" name="_target_path" value="/account"/> #}
				<div class="loginorregister">
					<button class="submit-login" type="submit">Connexion</button>
					<a class="registeryou" href="{{ path('app_register') }}">Créer un compte</a>
				</div>
			</form>
		</div>
		{% if error %}
			<div class="invalidlogin">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
	{% endblock %}
