$color-blue: #0c193a;

@import "~bootstrap/scss/bootstrap";
@import "user.scss";
@import "cart.scss";
@import "home.scss";
@import "sub.scss";


.bg-blue {
    background-color: $color-blue;
}

body {
    background-color: #f5f6f7;
}
