    .sub-nav {
        display: block;
        margin-right: 0;
        width: 100%;
    }

    .sub-nav-container {
        display: block;
        padding: 20px 0;
    }

    .sub-nav-wrapper {
        display: table;
        padding: 10px 0 0;
        margin: 0;
        width: 100%;
    }

    .sub-nav-item {
        border-bottom: 4px solid #0c193a;
        display: table-cell;
        list-style: none;
        padding: 10px;
        text-align: center;
        list-style-type: none;
    }

    .sub-nav-item:hover {
         border-bottom: 4px solid #01ddc6;
    }

    .sub-nav-item-link,
    .new-sub-link {
        color: #0c193a;
        text-decoration: none;
        cursor: pointer;
    }

    .sub-nav-item-link:hover,
    .new-sub-link:hover {
        color: #0c193a;
    }

    .sub-products-job {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sub-products-img {
       margin: 1rem;
       padding: 1rem;
       border: 1px solid black;
       display: flex;
       flex-direction: row;
    }

    .sub-new-products {
        border: 1px solid black;
        width: 50%;
        border-radius: 8px;
        text-align: center;
    }

    .sub-product-name-img {
        display: flex;
        flex-direction: column;

        img {
            width: 50%;
        }
    }

    .sub-products-number-price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
            
            .sub-input {
                height: 20%;
            }
    }