{% extends 'base.html.twig' %}

{% block title %}My subscription{% endblock %}

{% block body %}
    <style>
        *, ::after, ::before {
            box-sizing: border-box;
        }
        
        body {
            font-family: Open Sans, mm-main, Arial, sans-serif;
            font-size: 14px;
        }
    </style>
    <div>
        <a class="new-sub-link" href="{{ path('user_index') }}">Profile</a><span> > Subcriptions</span>
        <h1>My subscription</h1>
        <span>
            <i class="fas fa-heart"></i>
           <a class="new-sub-link" href="{{ path('new_subscription') }}">Create a new subscription</a>
        </span>
    </div>
    <nav class="sub-nav">
        <div class="sub-nav-container">
            <ul class="sub-nav-wrapper">
                <li class="sub-nav-item">
                    <a class="sub-nav-item-link" href="#">Active Subscription</a>
                </li>
                <li class="sub-nav-item">
                    <a class="sub-nav-item-link" href="#">Inactive Subscription</a>
                </li>
            </ul>
        </div>
    </nav>
    {# Switch by if in controller #}
    <header>
        {# inclure the render for active or inactive subs #}
    </header>
{% endblock %}
