{% extends 'base.html.twig' %}

{% block title %}My subscription{% endblock %}

{% block body %}

    <div>

        <span style="font-size: xx-large; font-weight:bold;">My subscription</span>
        
        <span style="right: 45px;">
            <i class="fas fa-heart"></i>
           <a href="#">Create a new subscription</a>
        </span>
    </div>
    <div>
        <span>
            <a href="#">Active Subscription</a>
        </span>
        <span>
            <a href="#">Inactive Subscription</a>
        </span>
    </div>

{% endblock %}
