{% extends 'base.html.twig' %}

{% block title %}My subscription{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>My subscription</h1>
            </div>
        </div>
        <div class="row">
            <ul>
                <li>
                    <a href="#">Active Subscription</a>
                </li>
                <li>
                    <a href="#">Inactive Subscription</a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <a href="#">Create a new subscription</a>
    </div>
    
{% endblock %}
