{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <main class="main-user">
        <div class="main">
            <h1>Welcome to your account</h1>
            <p>Here you are like at home</p>

            <a href="#" class="a-user">
                <div class="user-last-order user-box">
                    <p>My last order</p>
                    <p>IN DELIVERY</p>
                    <div>
                        <p><img src="https://picsum.photos/200/300" alt="Your order">10 Flat edge in pine 50*60 mm</p>
                        <p>Delivery Between 22/10/2021 and 28/10/2021</p>
                    </div>
                </div>
            </a>


            <div class="user-orders user-box">
                <h2>My orders</h2>
                <a href="#" class="a-user">
                    <p>All my orders</p>
                </a>
            </div>

            <div class="user-desire-opinion user-box">
                <h2>My wishes and opinions</h2>
                <a href="#" class="a-user">
                    <p>Wishlist</p>
                    <p>Product reviews</p>
                </a>
            </div>

            <div class="personal-informations user-box">
                <h2>My personal information</h2>
                <a href="#" class="a-user">
                    <p>Change my email and password</p>
                    <p>My subscriptions to ManoMano offers</p>
                </a>
            </div>

            <a href="#" class="a-user">
                <div class="need-help user-box">
                    <img src="https://picsum.photos/200/300" alt="?">
                    <div>
                        <h2>Need help ?</h2>
                        <p>Access our help center and find the answer to all your questions!</p>
                    </div>
                </div>
            </a>

            <div class="logout user-box">
                <a href="#" class="a-user">
                    <p>log out</p>
                </a>
            </div>
        </div>
    </main>
    
{% endblock %}
